@model GameShop.Models.User
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE HTML>
<html>
<head>
    <title>Online Game Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/menu.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/script.js" type="text/javascript"></script>
    <script type="~/Scripts/javascript" src="js/move-top.js"></script>
    <script type="~/Scripts/javascript" src="js/easing.js"></script>
    <link href='//fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">

        <div class="main">
            <div class="content">
                <div class="login_panel">
                    @using (Html.BeginForm())
                    {

                        <h3>Existing Customers</h3>
                        <p>Sign in with the form below.</p>
                        <div>Enter User Name:     @Html.TextBoxFor(x => x.username, new { id = "t1" })</div>
                                        
                        <div>Enter Password: @Html.PasswordFor(x => x.password, new { id = "t2" }) </div>
                        }
                    
                    
                    <p class="note">If you forgot your passoword just enter your email and click <a href="#">here</a></p>
                    <div>
                        <div>
                            <input type="submit" class="styled-button-2" value="Sign In" id="mybutton" />
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('#mybutton').on("click", function () {
                                var u = $('#t1').val();
                                var p = $('#t2').val();
                                $.getJSON("/Register/checkLogin?un=" + u + "&pass=" + p, function (data) {
                                    if (data == true) {
                                        window.location ="../Profile/Profile";

                                    }
                                    else {
                                        alert("Pehle Account banao jaa k , chalo shabash Register pr click karo :*");
                                    }

                                });

                            });
                        });

                    </script>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</body>
</html>


