@{Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE HTML>

<html>
<head>
    <title>Online Game Shop</title>
    <link href="~/Content/countdown.css" rel="stylesheet" />
    <script src="~/Scripts/countdown.js"></script>
</head>
<body>
    <div class="wrap">

        <div class="header_bottom">
            <div class="header_bottom_left">
                <p style="color: #6C6C6C; font-family: 'Monda' , sans-serif;">Latest</p>
                <div class="section group">

                    <div class="listview_1_of_2 images_1_of_2">

                        <div class="listimg listimg_2_of_1">
                            <a href="preview.html">
                                <img src="~/Images/pic4.jpg" alt="" /></a>
                        </div>
                        <div class="text list_2_of_1">
                            <h2>Fifa 16 - PS4 Game</h2>
                            <p>Price : Rs 5,499</p>
                            <div class="button"><span><a href="preview.html">Add to cart</a></span></div>
                        </div>
                    </div>
                    <div class="listview_1_of_2 images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <a href="preview-5.html">
                                <img src="~/Images/fallout.jpg" alt="" /></a>
                        </div>
                        <div class="text list_2_of_1">
                            <h2>Fallout 4 - XboxOne Game</h2>
                            <p>Price : Rs 5,999</p>
                            <div class="button"><span><a href="preview-5.html">Add to cart</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="section group">
                    <div class="listview_1_of_2 images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <a href="preview-3.html">
                                <img src="~/Images/acr.jpg" alt="" /></a>
                        </div>
                        <div class="text list_2_of_1">
                            <h2>Assassin's Creed Rogue - PS3 Game -------------</h2>
                            <p>Price : Rs 3,899</p>
                            <div class="button"><span><a href="preview-3.html">Add to cart</a></span></div>
                        </div>
                    </div>
                    <div class="listview_1_of_2 images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <a href="preview-6.html">
                                <img src="~/Images/gta5.jpg" alt="" /></a>
                        </div>
                        <div class="text list_2_of_1">
                            <h2>Grand Theft Auto V - Xbox360 Game</h2>
                            <p>Price : Rs 4,500</p>
                            <div class="button"><span><a href="preview-6.html">Add to cart</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_bottom_right_images">


                <!-- FlexSlider -->
                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="~/Images/xbox1cover.jpg" alt="" /></li>
                            <li>
                                <img src="~/Images/ps4cover.jpg" alt="" /></li>
                            <li>
                                <img src="~/Images/fifa.jpg" alt="" /></li>
                            <li>
                                <img src="~/Images/bo3cover.jpg" alt="" /></li>
                            <li>
                                <img src="~/Images/tcrscover.jpg" alt="" /></li>
                            <li>
                                <img src="~/Images/wiicover.jpg" alt="" /></li>

                        </ul>
                    </div>
                </section>
                <!-- FlexSlider -->
            </div>
            <div class="clear"></div>
        

    </div>
    <div class="main">
        <div class="content">

            <div class="heading">
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xbox Special Offers</h3>

            </div>
            <div class="section group">
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview-3.html">
                        <img src="~/Images/xboxonebox.jpg" alt="" /></a>
                    <h2>XBOX ONE </h2>
                    <p>XBOX ONE with Kinect Brand new With Discounted Price(Limited time offer)</p>
                    <p><span class="strike">Rs 49,999</span><span class="price">Rs 44,999</span></p>
                    <div class="button">
                        <span>
                            <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                    </div>

                </div>


                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview-2.html">
                        <img src="~/Images/xbox360.jpg" alt="" /></a>
                    <h2>XBOX 360 </h2>
                    <p>XBOX 360 Slim Edition with Kinect on special Discounted Price(Limited time offer)</p>
                    <p><span class="strike">Rs 29,999</span><span class="price">Rs 24,999</span></p>
                    <div class="button">
                        <span>
                            <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                    </div>

                </div>


                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview-4.html">
                        <img src="~/Images/x1c.jpg" alt="" /></a>
                    <h2>Xbox 360 Controller</h2>
                    <p>Xbox 360 Original DualShock Controller</p>
                    <p><span class="strike">Rs 3,500</span><span class="price">Rs 3,000</span></p>
                    <div class="button">
                        <span>
                            <img src="~/Images/cart.jpg" alt="" /><a href="preview-6.html" class="cart-button">Add to Cart</a></span>
                    </div>

                </div>


                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview-2.html">
                        <img src="~/Images/x2c.png" alt="" /></a>
                    <h2>Xbox One Controller</h2>
                    <p>Xbox One Original DualShock Controller</p>
                    <p><span class="strike">Rs 8,000</span><span class="price">Rs 7,000</span></p>
                    <div class="button">
                        <span>
                            <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                    </div>

                </div>


            </div>
            <div class="content">
                <div class="heading">
                    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Playstation Special Offers</h3>
                </div>


                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-3.html">
                            <img src="~/Images/ps4box.jpg" alt="" /></a>
                        <h2>Playstation 4 </h2>
                        <p>Playstation 4 Brand new With Discounted Price(Limited time offer)</p>
                        <p><span class="strike">Rs 57,999</span><span class="price">Rs 52,999</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>


                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-2.html">
                            <img src="~/Images/ps3box.jpg" alt="" /></a>
                        <h2>Playstation 3</h2>
                        <p>Playstation 3 Brand new With Discounted Price(Limited time offer)</p>
                        <p><span class="strike">Rs 35,999</span><span class="price">Rs 29,999</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>


                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-4.html">
                            <img src="~/Images/ps4c.jpg" alt="" /></a>
                        <h2>Playstation 4 Controller </h2>
                        <p>Playstation 4 Original DualShock Controller</p>
                        <p><span class="strike">Rs 8,000</span><span class="price">Rs 7,000</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-6.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>


                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-2.html">
                            <img src="~/Images/ps3c.jpg" alt="" /></a>
                        <h2>Playstation 3 Controller </h2>
                        <p>Playstation 3 DualShock Controller Special Edition</p>
                        <p><span class="strike">Rs 4,000</span><span class="price">Rs 3,000</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>
                </div>
                <div class="content">

                    <div class="heading">
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NINTENDO Special Offers</h3>

                    </div>
                    <div class="section group">
                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview-3.html">
                                <img src="~/Images/wiibox.jpg" alt="" /></a>
                            <h2>Nintendo WII </h2>
                            <p>Nintendo WII Brand new With Discounted Price(Limited time offer)</p>
                            <p><span class="strike">Rs 34,999</span><span class="price">Rs 28,999</span></p>
                            <div class="button">
                                <span>
                                    <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                            </div>

                        </div>


                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview-2.html">
                                <img src="~/Images/wiic.jpg" alt="" /></a>
                            <h2>WII Controller</h2>
                            <p>Nintendo WII Controller</p>
                            <p><span class="strike">Rs 3,299</span><span class="price">Rs 2,799</span></p>
                            <div class="button">
                                <span>
                                    <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                            </div>

                        </div>


                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview-4.html">
                                <img src="~/Images/wii3.jpg" alt="" /></a>
                            <h2>WII Fit Plus Game </h2>
                            <p>Best Exercising Game on Discounted Price</p>
                            <p><span class="strike">Rs 3,000</span><span class="price">Rs 2,000</span></p>
                            <div class="button">
                                <span>
                                    <img src="~/Images/cart.jpg" alt="" /><a href="preview-6.html" class="cart-button">Add to Cart</a></span>
                            </div>

                        </div>


                        <div class="grid_1_of_4 images_1_of_4">
                            <a href="preview-2.html">
                                <img src="~/Images/wii4.jpg" alt="" /></a>
                            <h2>WII 6 in 1 Controllers </h2>
                            <p>Get 6 Controllers for the price of 1</p>
                            <p><span class="strike">Rs 8,000</span><span class="price">Rs 4,000</span></p>
                            <div class="button">
                                <span>
                                    <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
           
            <link href="~/Content/flexslider.css" rel='stylesheet' type='text/css' />
    <script defer src="~/Scripts/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function () {
            SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
</body>
</html>

