@{Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE HTML>
<html>
<head>
    <title>Online Game Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/menu.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/script.js" type="text/javascript"></script>
    <script type="~/Scripts/javascript" src="js/move-top.js"></script>
    <script type="~/Scripts/javascript" src="js/easing.js"></script>
    <link href='//fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">

        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-3.html">
                    <img src="~/Images/wiibox.jpg" alt="" /></a>
                <h2>Nintendo WII </h2>
                <p>Nintendo WII Brand new With Discounted Price(Limited time offer)</p>
                <p><span class="strike">Rs 34,999</span><span class="price">Rs 28,999</span></p>
                <div class="button">
                    <span>
                        <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                </div>

            </div>


            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-2.html">
                    <img src="~/Images/wiic.jpg" alt="" /></a>
                <h2>WII Controller</h2>
                <p>Nintendo WII Controller</p>
                <p><span class="strike">Rs 3,299</span><span class="price">Rs 2,799</span></p>
                <div class="button">
                    <span>
                        <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                </div>

            </div>


            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-4.html">
                    <img src="~/Images/wii3.jpg" alt="" /></a>
                <h2>WII Fit Plus Game </h2>
                <p>Best Exercising Game on Discounted Price</p>
                <p><span class="strike">Rs 3,000</span><span class="price">Rs 2,000</span></p>
                <div class="button">
                    <span>
                        <img src="~/Images/cart.jpg" alt="" /><a href="preview-6.html" class="cart-button">Add to Cart</a></span>
                </div>

            </div>


            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-2.html">
                    <img src="~/Images/wii4.jpg" alt="" /></a>
                <h2>WII 6 in 1 Controllers </h2>
                <p>Get 6 Controllers for the price of 1</p>
                <p><span class="strike">Rs 8,000</span><span class="price">Rs 4,000</span></p>
                <div class="button">
                    <span>
                        <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                </div>




            </div>



        </div>
        <div class="content_bottom">
            <div class="heading">
                <h3>New Products</h3>
            </div>

        </div>
        <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-3.html">
                    <img src="~/Images/wiibox.jpg" alt="" /></a>
                <h2>Nintendo WII </h2>
                <p>Nintendo WII Brand new With Discounted Price(Limited time offer)</p>
                <p><span class="strike">Rs 34,999</span><span class="price">Rs 28,999</span></p>
                <div class="button">
                    <span>
                        <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                </div>

            </div>


            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-2.html">
                    <img src="~/Images/wiic.jpg" alt="" /></a>
                <h2>WII Controller</h2>
                <p>Nintendo WII Controller</p>
                <p><span class="strike">Rs 3,299</span><span class="price">Rs 2,799</span></p>
                <div class="button">
                    <span>
                        <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                </div>

            </div>


            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-4.html">
                    <img src="~/Images/wii3.jpg" alt="" /></a>
                <h2>WII Fit Plus Game </h2>
                <p>Best Exercising Game on Discounted Price</p>
                <p><span class="strike">Rs 3,000</span><span class="price">Rs 2,000</span></p>
                <div class="button">
                    <span>
                        <img src="~/Images/cart.jpg" alt="" /><a href="preview-6.html" class="cart-button">Add to Cart</a></span>
                </div>

            </div>


            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview-2.html">
                    <img src="~/Images/wii4.jpg" alt="" /></a>
                <h2>WII 6 in 1 Controllers </h2>
                <p>Get 6 Controllers for the price of 1</p>
                <p><span class="strike">Rs 8,000</span><span class="price">Rs 4,000</span></p>
                <div class="button">
                    <span>
                        <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                </div>




            </div>
        </div>
    </div>

</body>
</html>

