@{Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE HTML>
<html>
<head>
    <title>Online Game Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/menu.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/script.js" type="text/javascript"></script>
    <script type="~/Scripts/javascript" src="js/move-top.js"></script>
    <script type="~/Scripts/javascript" src="js/easing.js"></script>
    <link href='//fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">



        <h2>OUR TEAM</h2>
        <div class="section group">
            <div class="grid_1_of_5 images_1_of_5">
                <img src="~/Images/team1.jpg" alt="" />
                <h3>Mark Zuckerburg</h3>

            </div>
            <div class="grid_1_of_5 images_1_of_5">
                <img src="~/Images/team2.jpg" alt="" />
                <h3>Katrina Kaif </h3>

            </div>
            <div class="grid_1_of_5 images_1_of_5">
                <img src="~/Images/team3.jpg" alt="" />
                <h3>Rihanna</h3>

            </div>
            <div class="grid_1_of_5 images_1_of_5">
                <img src="~/Images/team4.jpg" alt="" />
                <h3>Bill Gates</h3>

            </div>
            <div class="grid_1_of_5 images_1_of_5">
                <img src="~/Images/team2.jpg" alt="" />
                <h3>Sania Mirza</h3>

            </div>
        </div>
        <div>
        </div>
    </div>

</body>
</html>

