@{Layout = "~/Views/Shared/_Layout.cshtml";}
<!DOCTYPE HTML>
<html>
<head>
    <title>Online Game Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/menu.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/script.js" type="text/javascript"></script>
    <script type="~/Scripts/javascript" src="js/move-top.js"></script>
    <script type="~/Scripts/javascript" src="js/easing.js"></script>
    <link href='//fonts.googleapis.com/css?family=Monda' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrap">

        <div class="main">
            <div class="content">
                <div class="content_top">
                    <div class="heading">
                        <h3>Feature Products</h3>
                    </div>

                </div>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-3.html">
                            <img src="~/Images/xboxonebox.jpg" alt="" /></a>
                        <h2>XBOX ONE </h2>
                        <p>XBOX ONE with Kinect Brand new With Discounted Price(Limited time offer)</p>
                        <p><span class="strike">Rs 49,999</span><span class="price">Rs 44,999</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-2.html">
                            <img src="~/Images/xbox360.jpg" alt="" /></a>
                        <h2>XBOX 360 </h2>
                        <p>XBOX 360 Slim Edition with Kinect on special Discounted Price(Limited time offer)</p>
                        <p><span class="strike">Rs 29,999</span><span class="price">Rs 24,999</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>


                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-4.html">
                            <img src="~/Images/x1c.jpg" alt="" /></a>
                        <h2>Xbox 360 Controller</h2>
                        <p>Xbox 360 Original DualShock Controller</p>
                        <p><span class="strike">Rs 3,500</span><span class="price">Rs 3,000</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-6.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>


                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-2.html">
                            <img src="~/Images/x2c.jpg" alt="" /></a>
                        <h2>Xbox One Controller</h2>
                        <p>Xbox One Original DualShock Controller</p>
                        <p><span class="strike">Rs 8,000</span><span class="price">Rs 7,000</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>
                </div>
                <div class="content_bottom">
                    <div class="heading">
                        <h3>New Products</h3>
                    </div>

                </div>
                <div class="section group">
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-3.html">
                            <img src="~/Images/xboxonebox.jpg" alt="" /></a>
                        <h2>XBOX ONE </h2>
                        <p>XBOX ONE with Kinect Brand new With Discounted Price(Limited time offer)</p>
                        <p><span class="strike">Rs 49,999</span><span class="price">Rs 44,999</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-2.html">
                            <img src="~/Images/xbox360.jpg" alt="" /></a>
                        <h2>XBOX 360 </h2>
                        <p>XBOX 360 Slim Edition with Kinect on special Discounted Price(Limited time offer)</p>
                        <p><span class="strike">Rs 29,999</span><span class="price">Rs 24,999</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>


                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-4.html">
                            <img src="~/Images/x1c.jpg" alt="" /></a>
                        <h2>Xbox 360 Controller</h2>
                        <p>Xbox 360 Original DualShock Controller</p>
                        <p><span class="strike">Rs 3,500</span><span class="price">Rs 3,000</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-6.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>


                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="preview-2.html">
                            <img src="~/Images/x2c.jpg" alt="" /></a>
                        <h2>Xbox One Controller</h2>
                        <p>Xbox One Original DualShock Controller</p>
                        <p><span class="strike">Rs 8,000</span><span class="price">Rs 7,000</span></p>
                        <div class="button">
                            <span>
                                <img src="~/Images/cart.jpg" alt="" /><a href="preview-3.html" class="cart-button">Add to Cart</a></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

